<div id="main-header">
    <div class="header-logo">
      <a routerLink="/dashboardMainComponent">
        <img src="../assets/images/Logo_BMS-removebg.png" alt="logo"> 
      </a>
      <div class="header-logo-text">
        <p>Building <br>
          Management<br>
          System</p>
      </div> 
    </div>
    <div class="header-content">
      <div class="header-register" routerLink="/registerComponent">
        <span><i class="fas fa-user-plus"></i></span>
        <span>Register</span>
      </div>
      <div class="header-date"> 
        <span><i class="far fa-calendar-alt"></i></span>
        <app-current-date></app-current-date>
      </div>
    </div>
</div>
