
.container {
    position: relative;
    max-width: var(--container-max-width);
    height: 90vh;
    margin: 0 auto;
    background: var(--first-blue-color-dark);
    top: 0; 
}
.detail-container {
    position: relative;
    background: var(--first-blue-color-lighter);
    max-width: 500px;
    padding: 1rem;
    margin: 0rem auto;
    top: 2rem;
    text-align: center;
}
span {
    font-weight: 900;
    font-size: 1rem;
}
.detail-container div:nth-child(3){
    margin-bottom: 1rem;
}
.detail-container h2,
.detail-container h3
 {
    margin-top: 0;
}
.content {
    text-align: left;
    width: 100%;
    margin: 0 auto;
}
/* .content > label {
    padding-top: 1rem!important;
} */

button {
    border: 2px solid black;
    border-radius: 4px;
    background: var(--first-blue-color);
    font-weight: 600;
    padding: 0.25rem;
    color: var(--mainWhite);
    cursor: pointer;
}
button:hover {
    background: var(--first-greenyellow-color);
    color: var(--mainBlack);
}
.delete{
    background: rgb(243, 64, 64);
}
.delete:hover{
    background: red;
}
.detail-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}


@media only screen and (min-width: 426px){
    .detail-container {
        top: 4rem;
    }
    .content {
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1026px){
    .container{
        height: 94vh;
    }
}