<div class="container">
    <div class="form-container">
        <header>
            <div class="register-icon">
                <img src="../../../assets/images/register-form-img-removebg-preview.png"/>
            </div>
            <h2 class="register-title">Member Registration</h2>
        </header>
        <form class="form-body" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-item">
                <label>
                <select formControlName="title" class="select-form form-control" [ngClass]="{ 'is-invalid' : submitted && f.title.errors }">
                    <option value="" disabled selected hidden>Title</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                </select>
                </label>
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
            </div>
            <div class="inputContainer">
                <label for="#firstName">
                    <input id="firstName" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid' : submitted && f.firstName.errors }" 
                        placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
                    <i class="fas fa-user labelIcon"></i>
                </label>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="inputContainer">
                <label for="#lastName">
                    <input id="lasttName" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" 
                        placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"/>
                    <i class="fas fa-user labelIcon"></i>
                </label>
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="inputContainer">
                <label for="#email">
                    <input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
                        placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" />
                    <i class="fas fa-envelope labelIcon"></i>
                </label>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="inputContainer">
                <label for="#password">
                    <input id="password"type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                        placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" />
                    <i class="fas fa-lock labelIcon"></i>
                </label>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="inputContainer">
                <label for="#confirmPassword">
                    <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" 
                    placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" />
                    <i class="fas fa-lock labelIcon"></i>
                </label>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
            <div class="form-item-terms">
                <input id="acceptTerms" type="checkbox" formControlName="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div>
            <div class="register-buttons">
                <button class="button registerBtn">Register</button>
                <button class="button cancelBtn" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div>