<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div id="main-header">
    <div class="header-logo">
      <a routerLink="/loginComponent">
        <img src="../assets/images/Logo_BMS-removebg.png" alt="logo"> 
      </a>
      <div class="header-logo-text">
        <p>Building</p>
        <p>Management</p>
        <p>System</p>
      </div> 
    </div>
    <div class="header-content">
      <div class="header-login">
        <span routerLink="/loginComponent"><i class="fas fa-user"></i></span>
      </div>
      <div class="header-date"> 
        <span><i class="far fa-calendar-alt"></i></span>
        <app-current-date></app-current-date>
      </div>
    </div>
  </div>
  <!-- <div class="emergency-header">
    <span>24/7 Emergency: (613) 762-5704</span> 
  </div> -->
</header>
<router-outlet></router-outlet>


  



