*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.weather-container {
    background: var(--bluePurple);
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    color: var(--mainWhite);
    padding: 0.5rem;
    text-align: center;
}

.weather-container a p {
    display: inline;
    color: var(--mainOrange);
    animation: changeColor 3s infinite;
}
@keyframes changeColor {
    0%, 100% {
        color: var(--mainOrange);
    }
    50% {
        color: var(--mainWhite);
    }
}
.weather-container a p:hover {
    background: var(--bluePurple-light);
    color: rgba(72, 99, 255, 0.9)!important;
    border-radius: 0.4rem;
    padding: 0.2rem;
    font-weight: 700;
}
.weather-details {
    margin-bottom: 0.5rem;
}