<div class="container">
    
    <div class="grid-container">
        <!-- items-req-action -->
        <div class="items-requiring-action">
          <h3>Items Requiring Action</h3>
          <ul>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-wrench"></i></p>
                <span>Overdue cases</span>
              </div>
              <strong>9</strong>
            </li>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-history"></i></p>
                <span>Contractor Insurance Expiring</span>
              </div>
              <strong>5</strong>
            </li>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-user"></i></p>
                <span>Resident Information Update Requests</span>
              </div>
              <strong>6</strong>
            </li>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-list-ul"></i></p>
                <span>Overdue Maintenance Schedules</span>
              </div>
              <strong>43</strong>
            </li>
          </ul>
        </div>
        <!-- start of weather & phone nubers -->
        <div class="weather_numbers_cases">
          <div class="weather_numbers">
            <div class="weather-1day">
              <app-weather></app-weather>
            </div>
            <div class="important-numbers">
              <a routerLink ="/dashboardMainComponent/imp-num-list">
                <app-important-numbers></app-important-numbers>
              </a>
            </div>
          </div>
          <div class="cases-graph">
            <h3>Building Status</h3>
            <app-graphs></app-graphs>
          </div>
        </div>
        <!-- notes -->
        <div class="notes">
          <div class="notes-header">
            <h3>Notes</h3>
            <div>
              <span><i class="fas fa-search"></i></span>
              <span><i class="fas fa-plus"></i></span>
            </div>
          </div>
          <ul>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Building Management -28/02/2020</strong>
                <p>Check with unit 101 for the key</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Peter Graham -7/10/2020</strong>
                <p>Check all mechanical equipment</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Omar Farer -05/08/2020</strong>
                <p>Check rooftop boilers</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>23432 43248 -01/02/2020</strong>
                <p>Contact Sally</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>25687 56489 -28/06/2020</strong>
                <p>Parcel waiting at concierge</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Management -30/10/2020</strong>
                <p>Call Water Company</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
          </ul>  
        </div>
        <!-- notes -->
        <div class="notes">
          <div class="notes-header">
            <h3>Notes</h3>
            <div>
              <span><i class="fas fa-search"></i></span>
              <span><i class="fas fa-plus"></i></span>
            </div>
          </div>
          <ul>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Building Management -28/02/2020</strong>
                <p>Check with unit 101 for the key</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Peter Graham -7/10/2020</strong>
                <p>Check all mechanical equipment</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Omar Farer -05/08/2020</strong>
                <p>Check rooftop boilers</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>23432 43248 -01/02/2020</strong>
                <p>Contact Sally</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>25687 56489 -28/06/2020</strong>
                <p>Parcel waiting at concierge</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Management -30/10/2020</strong>
                <p>Call Water Company</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
          </ul>  
        </div>
        <!-- items-req-action -->
        <div class="items-requiring-action">
          <h3>Items Requiring Action</h3>
          <ul>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-wrench"></i></p>
                <span>Overdue cases</span>
              </div>
              <strong>9</strong>
            </li>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-history"></i></p>
                <span>Contractor Insurance Expiring</span>
              </div>
              <strong>5</strong>
            </li>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-user"></i></p>
                <span>Resident Information Update Requests</span>
              </div>
              <strong>6</strong>
            </li>
            <li class="item-list-reqAction">
              <div class="icon-reqAction">
                <p><i class="fas fa-list-ul"></i></p>
                <span>Overdue Maintenance Schedules</span>
              </div>
              <strong>43</strong>
            </li>
          </ul>
        </div>
        <!-- notes -->
        <div class="notes">
          <div class="notes-header">
            <h3>Notes</h3>
            <div>
              <span><i class="fas fa-search"></i></span>
              <span><i class="fas fa-plus"></i></span>
            </div>
          </div>
          <ul>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Building Management -28/02/2020</strong>
                <p>Check with unit 101 for the key</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Peter Graham -7/10/2020</strong>
                <p>Check all mechanical equipment</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Omar Farer -05/08/2020</strong>
                <p>Check rooftop boilers</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>23432 43248 -01/02/2020</strong>
                <p>Contact Sally</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>25687 56489 -28/06/2020</strong>
                <p>Parcel waiting at concierge</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
            <li class="item-list-note">
              <div class="icon-note">
                <strong>Management -30/10/2020</strong>
                <p>Call Water Company</p>
              </div>
              <a href=""><i class="far fa-trash-alt"></i></a>
            </li>
          </ul>  
        </div>

        
      
    </div>
</div>
